/*Header section styles*/
.header{
    background-image: url("/assets/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-bottom: 15vh;
}
/*//Header section styles*/