/*Interior design styles*/
@use '../abstract/mixin' as mixins;
@use '../abstract/variables' as vars;
.interior{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    @include mixins.sectionStart;
    .main-text{
        padding-top: 1rem;
        color: vars.$text-color;
        padding-bottom: 1rem;
        line-height: 1.5rem;
    }
    .img-design img{
        width: 90%;
        border-radius: .5rem;
    }
    .title{
        padding: 1rem 0;
    }
    .dropdown{
        &-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: .5rem 0;
            cursor: pointer;
        }
    }
}
/*//Interior design styles*/