/*Explore Page styles*/
@use '../abstract/variables' as vars;
@use '../layout/home';
.explore{
    .page-secondary-text{
        width: 50%;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: light;
    }
    .header{
        background-image: url("/assets/images/page-banner-bg.jpg");
        min-height: 80vh;
    }
    .main-heading{
        text-align: center;
        padding: 1rem 0;
    }
    .main-card{
        width: 100%;
        border-radius: 1rem;
        position: relative;
        height: 90vh;
        padding: 1rem;
        .img-card{
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        .text-card{
            z-index: 2;
            background-color: #FAFAFAF6;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 1rem;
            text-align: center;
            border-radius: .5rem;
            position: absolute;
            width: 97.5%;
            bottom: 1rem;
        }
        .text{
            color: vars.$text-color;
        }
    }
    .main-text{
        padding: 3rem 0;
        .text{
            padding-bottom: 2rem;
            color: vars.$text-color;
            line-height: 2rem;
            font-size: .9rem;
        }
    }
    .main-img{
        border-radius: .5rem;
        margin-bottom: 2rem;
    }
    .bottom-content{
        .title{
            padding-bottom: 1rem;   
        }
        .bigtext{
            color: vars.$text-color;
            padding-bottom: 1rem;
            margin-bottom: 4rem;
        }
        .boxes{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5rem;
        }
        .box{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .box:nth-child(2){
            text-align: right;
            img{
                margin-left: 1rem;
            }
        }
    }
    .box{
        img{
            border-radius: .5rem;
            margin-right: 1rem;
        }
        a{
            font-weight: bold;
            color: vars.$second-color;
            transition: all .4s ease-in-out;
            &:hover{
                color: vars.$global-color;
            }
        }
        .add{
            color: vars.$text-color; 
        }
    }
}
/*//Explore Page styles*/